# macOS
.DS_Store

# Xcode user settings
xcuserdata/
*.xcuserstate

# Xcode build
build/
DerivedData/

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
